<!DOCTYPE html>
<html>
  <title><%= @title %></title>
  <head>
      <link rel="stylesheet" type="text/css" href="/foundation.min.css">
      <link rel="stylesheet" type="text/css" href="/style.css">
    </head>

    <body>
      <div class="small-12 columns top-bar">
        <div class="small-12 columns top-bar-text">
          <a href="/" id="title-link">
            <h1 class="bar-text">Comics Releases</h1>
          </a>
        </div>
      </div>
       <div class='row'>
      <%= yield %>
      </div>
    </body>

  <script src="/js/vendor/jquery.js"></script>
  <script src="/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
</html>
