<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <link rel="stylesheet" type="text/css" href="/foundation.min.css">
  </head>
  <div class='row'>
    <body>
      <%= yield %>
    </body>
  </div>
</html>