<!DOCTYPE html>
<html>
  <div ><head>
      <title><%= @title %></title>
      <link rel="stylesheet" type="text/css" href="/foundation.min.css">
      <link rel="stylesheet" type="text/css" href="/style.css">
    </head></div>
  <div class='row'>
    <body>
      <%= yield %>
    </body>
  </div>
</html>